* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --inner-border-radius: 12px;
  --container-color: rgba(233, 233, 232, 0.95);
  --background-gradient: linear-gradient(45deg, rgb(63, 76, 144)0%, rgb(231, 179, 85));
  --orange-color: rgb(242, 153, 0);
  --light-orange-color: rgb(244, 221, 158);
  --grey-color: #292929;
  --primary-color: rgb(242, 153, 0);
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--grey-color);
}

h1 {
  font-size: 4rem;
}

.page main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 860px;
  margin-top: 10vh;
  background-color: var(--container-color);
  border-radius: 6px;
  box-shadow: 0 3px 8px -4px rgba(3, 3, 3, 0.7);
  overflow: hidden;
}

.page section {
  margin-bottom: 4rem;
  text-align: center;
}

.page.title-page h1 {
  margin-bottom: 3.2rem;
}

.page.title-page .cta-text {
  font-size: 2rem;
  margin-top: 1.4rem;
}

.page.end-page .title {
  text-transform: uppercase;
}

.end-text {
  text-align: center;
  margin: -3rem 0 7rem;
}

h3 {
  color: var(--orange-color);
  font-size: 2rem;
  line-height: 1.4;
  margin: 1.4rem 0 2.6rem;
}

p {
  font-size: 1.4rem;
}

.background {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: var(--background-gradient)
}

.page.title-page.background {
  background: url("../public/assets/pexels-icon0-220639.jpg");
  background-size: cover;
  background-position: 36% 0;
  background-repeat: no-repeat;
}

.page.question-page main {
  align-items: stretch;
}

.page.question-page section {
  margin: 0;
  height: 48%;
  position: relative;
}

.page.question-page section .counter {
  position: absolute;
  left: 84%;
  top: 4%;
  font-size: 1.2rem;
}

.page.question-page section .counter span {
  font-size: 2rem;
  color: var(--orange-color);
}

.page.question-page section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choices {
  flex: 1;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 60px;
  gap: 26px;
  line-height: 3;
}

.choices ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  gap: 14px;
}

.choices li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 26px;
  border: 1px solid var(--grey-color);
  border-radius: var(--inner-border-radius);
  font-size: 1.2rem;
  cursor: pointer;
}

.choices li:hover,
.choices li:active,
.choices li.selected {
  background-color: #d0cdc8;
}

.choices label {
  flex: 1;
  cursor: inherit;
  user-select: none;
}

.choices input {
  cursor: inherit;
}

button {
  text-transform: uppercase;
  border: none;
  border-radius: var(--inner-border-radius);
  padding: 12px 36px;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: inherit;
  background: linear-gradient(to right, var(--orange-color), var(--light-orange-color));
  color: white;
  cursor: pointer;
  transition: background-image 0.25s;
}

button:hover {
  background: rgb(213, 123, 44);
}
